{% include "includes/header.html" %}
    <section id='banner' class='container-fluid'>
        <div class="banner-info vhCenter">
            <h4 class='heading'>MEIJOBROS AI SOLUTIONS</h4>
            <div class='line'></div>
            <p>Here's our personal dashboard of projects. total lorem ipsum dolor sit amit. Lorem very cool ipsum salt. lorem ipsum dolor sit amit. Lorem very cool ipsum salt.lorem ipsum dolor sit amit. Lorem very cool ipsum salt.lorem ipsum dolor sit amit. Lorem very cool ipsum salt.</p>
            <button class="btn btn-primary">Check it out!</button>
        </div>
    </section>
    
    <section id="main-content" class='container-fluid'>
        <div class="row">
            <div class="col"></div>
            <h2 class='heading-inverse text-center'>THE MODEL
                <div style="margin:10px auto; background:white" class="line"></div></h2>
            
            <div class="col-8 vhCenter">

                <div class='user-image'>
                    <img src="http://www.placehold.it/400x300"/>
                </div>
            </div>
            <div class="col"></div>
        </div>

    </section>
{% include "includes/footer.html" %}